
SOURCE_DIRECTORY="..."
TARGET_DIRECTORY="..."
PERSONAL_ACCESS_TOKEN="..."
PROJECT_ID="..."
GITHUB_ACCESS_TOKEN="..."

# Only for testing
INVALID_PERSONAL_ACCESS_TOKEN="..."
INVALID_GITHUB_ACCESS_TOKEN="..."
TEST_BUILD_ID="..."
