# Sample .env

# Source Directory
SOURCE_DIRECTORY="..."

# Target Directory
TARGET_DIRECTORY="..."

# Personal Access Token
PERSONAL_ACCESS_TOKEN="..."

# Project ID
PROJECT_ID="..."

# GitHub Access Token
GITHUB_ACCESS_TOKEN="..."

# Delete the build after the download
# DELETE_BUILD="false"
