<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="true">
  <testsuites>
    <testsuite name="Commands">
      <directory suffix="Test.php">./tests/Commands</directory>
    </testsuite>
    <testsuite name="Support">
      <directory suffix="Test.php">./tests/Support</directory>
    </testsuite>
  </testsuites>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </coverage>
  <groups>
    <exclude>
      <group>disabled</group>
    </exclude>
  </groups>
</phpunit>
